.banner {
	background-image: url(https://www.hec.edu/sites/default/files/styles/newsroom_media/public/2019-05/6.jpg?itok=Crw0pMpD);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}

.banner h2 {
	font-size: 40px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}